kNN
==

Predicting movie ratings

We will be using the metrics of movies to predict likeability of a user to a new movie

In [1]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'title','rating']
ratings = pd.read_csv('C:/MLCourse/ml-100k/u-data.txt', sep = '\t', names = r_cols, usecols = range(4))
ratings.head()

   user_id  movie_id                            title  rating
0        0        50                 Star Wars (1977)       5
1        0       172  Empire Strikes Back, The (1980)       5
2        0       133        Gone with the Wind (1939)       1
3      196       242                     Kolya (1996)       3
4      186       302         L.A. Confidential (1997)       3

Let's see how many people rated each movie

In [6]:
import numpy as np
movieProperties = ratings.groupby('title').agg({'rating':[np.size,np.mean]})
movieProperties.head()

                          rating
                            size      mean
title
'Til There Was You (1997)      9  2.333333
1-900 (1994)                   5  2.600000
101 Dalmatians (1996)        109  2.908257
12 Angry Men (1957)          125  4.344000
187 (1997)                    41  3.024390

normalize the movie ratings

In [10]:
movieNumRatings = pd.DataFrame(movieProperties['rating']['size'])
movieNormalizedNumRatings = movieNumRatings.apply(lambda x: (x-np.min(x))/(np.max(x) - np.min(x)))
movieNormalizedNumRatings.head()

                               size
title
'Til There Was You (1997)  0.013722
1-900 (1994)               0.006861
101 Dalmatians (1996)      0.185249
12 Angry Men (1957)        0.212693
187 (1997)                 0.068611

In [13]:
pd.read_csv('C:/MLCourse/ml-100k/u.item', sep = '\t', names = r_cols)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xf7 in position 3: invalid start byte